django==5.2.6
django-decouple==2.1
mysqlclient==2.2.4
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
pillow==11.3.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.9.1
locust==2.41.3